<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-select.min.css">
    <!-- icon css-->
    <link rel="stylesheet" href="assets/elagent-icon/style.css">
    <link rel="stylesheet" href="assets/font-awesome/css/all.css">
    <link rel="stylesheet" href="assets/niceselectpicker/nice-select.css">
    <link rel="stylesheet" href="assets/font-size/css/rvfs.css">
    <link rel="stylesheet" href="assets/animation/animate.css">
    <link rel="stylesheet" href="assets/tooltipster/css/tooltipster.bundle.css">
    <link rel="stylesheet" href="assets/prism/prism.css">
    <link rel="stylesheet" href="assets/prism/prism-coy.css">
    <link rel="stylesheet" href="assets/magnify-pop/magnific-popup.css">
    <link rel="stylesheet" href="assets/mcustomscrollbar/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
    <title>API Converter 7.1</title>
    <script src="js/main.js"></script>
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="-120">
    <div id="preloader">
        <div id="ctn-preloader" class="ctn-preloader">
            <img src="img/loading-rainbow.svg" alt="">
            <h2 class="head">Carregando os dados</h2>
            <p></p>
        </div>
    </div>
    <div class="body_wrapper sticky_menu">

        <section class="doc_documentation_area onepage_doc_area" id="sticky_doc">
            <div class="overlay_bg"></div>
            <div class="container-fluid pl-60 pr-60">
                <div class="row doc-container">
                    <div class="col-lg-2 doc_mobile_menu doc-sidebar display_none">
                        <aside class="doc_left_sidebarlist">
                            <h3 class="nav_title">Menu da API</h3>
                            <div class="scroll">
                                <ul class="list-unstyled nav-sidebar doc-nav">
                                    <li class="nav-item active">
                                        <a href="#doc" class="nav-link"><img src="img/onepage-icon/smiles-icon.png" alt="">Api</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#code" class="nav-link"><img src="img/side-nav/briefcase.png" alt="">Estrutura</a>
                                        <span class="icon">
                                            <i class="icon_plus"></i>
                                            <i class="icon_minus-06"></i>
                                        </span>
                                        <ul class="list-unstyled dropdown_nav">
                                            <li class="nav-item"><a href="#html" class="nav-link">HTML</a></li>
                                                                                        
                                        </ul>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#tutorial" class="nav-link"><img src="img/side-nav/document.png" alt="">Tutorial</a>
                                        <span class="icon">
                                            <i class="icon_plus"></i>
                                            <i class="icon_minus-06"></i>
                                        </span>
                                        <ul class="list-unstyled dropdown_nav">
                                            <li class="nav-item"><a href="#logo" class="nav-link">Uso</a></li>
                                        </ul>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#source" class="nav-link"><img src="img/side-nav/document2.png" alt="">Creditos </a>
                                    </li>
                                </ul>
                            </div>
                        </aside>
                    </div>
                    <div class="col-lg-8 col-md-8">
                        <div class="documentation_info" id="post">
                            <!--doc-->
                            <article class="documentation_body shortcode_text  doc-section pt-0" id="doc">
                                <div class="shortcode_title">
                                    <h2>Api Converter v 7.1</h2>
                                    <p><span>Bem vindo a minha API!</span> 
                                </div>
                                <ul class="ul">
                                    <li><strong>Criada em :</strong> 25/05/2023</li>
                                    <li><strong>By :</strong> Diixavado-C0D3R</li>
                                </ul>
                                <p>Obrigado por adiquirir meus serviços de <strong>API</strong> Converter!</p>
                                <h4 class="c_head" id="article">Minhas funções</h4>
                                <div class="steps-panel">
                                <ul class="ordered-list">
                                    <li>Converter MP3 para BASE64</li>
                                    <li>Converter BASE64 para MP3</li>
                                    <li>Converter BASE64 para OGG</li>
                                    <li>Converter BASE64 para OGG</li>
                                    <li>Converter BASE64 para WAV</li>
                                </ul>
                                </div>
                                <div class="border_bottom"></div>
                            </article>
                            <!--shortcode-->
                            
                            <article class="documentation_body doc-section" id="code">
                                <div class="shortcode_title">
                                    <h2>Pagina HTML</h2>
                                    <p>Eu possuo uma interface Grafica muito simples, visando que minhas maiores funções estão em meu "BACKEND" que é aonde eu atuo com toda minha velocidade para obter as consultas.<br><br>Porem voce pode utilizar qualquer template HTMl que achar melhor, lembre-se sempre de conectar seu "PAINEL FRONT-END" aos meus serviços de API.</p>
                                </div>
                                <h4 class="c_head load-order-2" id="html">Basic HTML</h4>
                                <p>Esse é o codigo de meu Front-END, é simples, porem funcional.</p>
                                <br/>
                                <div class="code_item">
                                    <pre class="snippet">
                                        <code class="language-html" data-lang="html">
                                            &lt;script&gt;
 
                                            &lt;script&gt;
                                        </code>
                                    </pre>
                                </div>
                                
                            </article>
                            <!--typography-->
                            <article class="shortcode_info documentation_body typrography_content doc-section" id="tutorial">
                                <div class="shortcode_title">
                                    <h2>Tutorial</h2>
                                </div> 
                                <h4 class="c_head load-order-2" id="logo">Consulta de Dados</h4>
                                <p>Minha api funciona de uma forma simples aonde é preciso somente uma requisição do tipo GET para obter os dados.</p>
                                <pre class="snippet">
                                    <code class="language-html" data-lang="html">
                                        GET: apicarder.up.railway.app/api/gg
                                        GET: apicarder.up.railway.app/api/gg_cvv
                                        GET: apicarder.up.railway.app/api/bin
                                    </code>
                                </pre>
                            </article>
                            <article class="shortcode_info doc-section" id="source">
                                <div class="shortcode_title">
                                    <h2>Creditos</h2>
                                    <p>Fui desenvolvida e criada pelo @Diixavado </p>
                                </div>
                                <h4 class="c_head load-order-2 mb-0">Whatsapp :</h4>
                                <p><a href="https://wa.me/5569981196682">Zap</a></p>
                                <div class="border_bottom"></div>
                                <h4 class="c_head load-order-2 mb-0">Github :</h4>
                                <p><a href="http://github.com/dixavado">GitHub</a></p>
                                <div class="border_bottom"></div>
                            </article>
                            <br>
                            <div class="shortcode_title">
                                <h2>Support</h2>
                                <p>Você podera obter suporte para qualquer tipo de problemas relacionados a minha API ou minha Instalação/USO via Whatsapp..</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 doc_right_mobile_menu">
                        <div class="open_icon" id="right">
                            <i class="arrow_carrot-left"></i>
                            <i class="arrow_carrot-right"></i>
                        </div>
                        <div class="doc_rightsidebar">
                            <select id="mySelect" data-show-content="true">
                                <option data-content="<i class='fab fa-windows'></i> Windows"></option>
                            </select>
                            <div class="d-flex justify-content-between align-items-center">
                                <div id="rvfs-controllers" class="fontsize-controllers group"></div>
                                <a href="javascript:window.print()" class="print"><i class="icon_printer"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer class="simple_footer text-center f_bg_color">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <p>© 2023 All Rights Reserved by <a href="index.html">Api CARDING v7.1</a></p>
                    </div>
                    <div class="col-lg-6 text-right">
                        <ul class="list-unstyled f_social_icon">
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="assets/bootstrap/js/popper.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap-select.min.js"></script>
    <script src="js/parallaxie.js"></script>
    <script src="js/TweenMax.min.js"></script>
    <script src="js/jquery.wavify.js"></script>
    <script src="js/anchor.js"></script>
    <script src="assets/wow/wow.min.js"></script>
    <script src="assets/prism/prism.js"></script>
    <script src="assets/niceselectpicker/jquery.nice-select.min.js"></script>
    <script src="assets/mcustomscrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="assets/magnify-pop/jquery.magnific-popup.min.js"></script>
    <script src="assets/tooltipster/js/tooltipster.bundle.min.js"></script>
    <script src="assets/font-size/js/rv-jquery-fontsize-2.0.3.js"></script>
    <script src="js/onpage-menu.js"></script>
    <script src="js/main.js"></script>
</body>

</html>